body{
  width: 100%;
  text-decoration: none;
}
a {
  text-decoration: none;
}
/* Gonna be honest, I'm not diggin this "clip" thing - and "clip-path" has its own issues and isn't super browser friendly */
img {
  position: absolute;
  height: 550px;
  top: -140px;
  left: -30px;
  clip: rect(160px, 800px, 370px, 50px);
  }
.image {
  box-sizing: border-box;
  height: 200px;
  width: 600px;
  overflow: hidden;
}
.title-box {
  box-sizing: border-box;
  position: absolute;
  opacity: .9;
  background-color: white;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 220px;
}
.text {
  position: absolute;
  top: 25px;
  left: 35px;
  z-index: 1;
  padding: 10px;
  text-decoration: none;
}
/* Again, unsure of the font, but this worked ok - thank Google */
span {
  color: #555;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 3px;
  text-decoration: none;
}
span:first-child {
  border-top: 1px solid orange;
  font-size: 1.2em;
  padding-top: 15px;
}
span:nth-child(2){
  font-size: 2em;
}
span:nth-child(3){
  font-size: 1.5em;
  border-bottom: 1px solid orange;
  padding-bottom: 15px;
}
span:last-child{
  border: 2px solid red;
  color: red;
  margin: 10px auto;
  width: 35px;
  padding: 5px;
  background-color: white;
  opacity: 1;
  font-size: 1.2em;
}
/* Middle size fixes - the clip property still bugs me */
@media (min-width: 500px) and (max-width: 750px) {
  img {
    width: 100%;
  }
  .image {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }
}
/* I looked at how the original image was responsive, but it was just an image, so I just overlaid the text over the image for the smaller version to keep the text legible */
@media (min-width: 200px) and (max-width: 500px) {
  img {
    height: 100%;
    width: 114%;
    clip: rect(5%, 25%, 15%, 5%);
    margin: 0 auto;
    left: -15%;
  }
  .image {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }
  .title-box {
    width: 100%;
    left: 0px;
  }
  .text {
    box-sizing: border-box;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 5% 15px 5%;
  }
}
